<html>

    <body>
        <p>
            <%= data.profileid %>
        </p>
        <p>
            <%= data.username %>
        </p>
        <p>
            <%= data.email %>
        </p>
        <p>
            <%= session.dbId %>
        </p>
        <img src="<%= data.profilePic %>" height="100px" width="200px">
    </body>

</html>